.image-jeep{
    background-image: url(../Imagenes/Clientes/jeep_auto_x2_colored.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.image-red{
    background-image: url(../Imagenes/Logos/redess2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.image-auto{
    background-image: url(../Imagenes/Clientes/ranch_auto_x2_toned.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.image-prim{
    background-image: url(../Imagenes/Logos/lubri2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}