@font-face {
    font-family: 'Carbon';
    src: url(../static/fonts/carbon.ttf);
}

* {
    font-family: 'Carbon';
    text-decoration: none !important;
}

.fs-20{
    font-size: 3em;
}












.image-jeep{
    background-image: url(../Imagenes/Clientes/jeep_auto_x2_colored.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    
}

.image-red{
    background-image: url(../Imagenes/Logos/redess2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    background-attachment: fixed;
}

.image-auto{
    background-image: url(../Imagenes/Clientes/ranch_auto_x2_toned.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    width: 100%;
}

.image-prim{
    background-image: url(../Imagenes/Logos/lubri2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.image-map{
    background-image: url(../Imagenes/Logos/fondomapa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    
}

.img-redes{
    width: 70px;
}


@media (max-width: 500px) { 
    .image-red{
        background-image: url(../Imagenes/Logos/redess2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        width: 100%;
        background-attachment: fixed;


    }

    .img-redes{
        width: 50px;
    }
   
}